  {
  "printWidth": 80,
  "useTabs": true,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrder": [
    "// import react and nextjs dep",
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "",
    "// import third-party modules",
    "<THIRD_PARTY_MODULES>",
    "",
    "// import everything else",
    "^types$",
    "^@local/(.*)$",
    "^@/config/(.*)$",
    "^@/lib/(.*)$",
    "^@/components/(.*)$",
    "^@/styles/(.*)$",
    "^[./]",
    "",
    "// import internal deps",
    "components/(.*)$",
    "utils/(.*)$",
    "helpers/(.*)$",
    ""
  ],
  "importOrderSeparation": false,
  "importOrderBuiltinModulesToTop": true,
  "importOrderCaseInsensitive": false,
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "importOrderSortSpecifiers": true
}